<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevator Control System</title>
    <link rel="stylesheet" href="../../public/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="renderer.js"></script>
</head>

<body onload="runSystem()">
    <h1>Elevator Control System</h1>
    <p>Type a floor and simulate the movement.</p>
    <table>
        <tr>
            <th>Info</th>
            <th>E 1</th>
            <th>E 2</th>
            <th>E 3</th>
            <th>E 4</th>
            <th>E 5</th>
            <th>E 6</th>
            <th>E 7</th>
            <th>E 8</th>
        </tr>
        <tr>
            <td>Current floor</td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
        </tr>
        <tr>
            <td>Target floor 1</td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
        </tr>
        <tr>
            <td>Target floor 2</td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
        </tr>
        <tr>
            <td>Target floor 3</td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
        </tr>
        <tr>
            <td>Amount passengers</td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Info</th>
            <th>E 9</th>
            <th>E 10</th>
            <th>E 11</th>
            <th>E 12</th>
            <th>E 13</th>
            <th>E 14</th>
            <th>E 15</th>
            <th>E 16</th>
        </tr>
        <tr>
            <td>Current floor</td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
            <td><input type="number" class="floor-current" disabled></td>
        </tr>
        <tr>
            <td>Target floor 1</td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
            <td><input type="number" class="floor-target1" disabled></td>
        </tr>
        <tr>
            <td>Target floor 2</td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
            <td><input type="number" class="floor-target2" disabled></td>
        </tr>
        <tr>
            <td>Target floor 3</td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
            <td><input type="number" class="floor-target3" disabled></td>
        </tr>
        <tr>
            <td>Amount passengers</td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
            <td><input type="number" min="0" max="3" class="passengers-number"></td>
        </tr>
    </table>
    <button type="button" class="btn-main" onclick="simulateStep()">Simulate step</button>
</body>

</html>